body,p,b,dl,dd,td,th,input,img,form,div,ul,li,h1,h2,h3,h4,h5,h6,span,select{margin:0;padding:0;}img,iframe{border:none;}ol,ul,li{list-style:none;}img,input,label,select{vertical-align:middle;}body{font:normal 12px/1.5 Arial,Helvetica,宋体,sans-serif; background-color:#fff}.red{color:#f00!important;}.green{color:#008000!important;}a{cursor:pointer;outline:none;blr:expression(this.onFocus=this.blur());}a:link,a:visited{text-decoration:none;color:#333;}a:hover{text-decoration:none;color:#f00;}body{background:#fff;}.ext{color:#999;}.clearfix:after{content:'\0020';display:block;height:0;clear:both;}.clearfix{zoom:1;}#header-menu .max-nav a,#header-menu .max-nav a.t_left,#header-menu .max-nav a.t_middle,#header-menu .max-nav a.t_right,#header-menu .max-nav a.t_left:hover,#header-menu .max-nav a.t_right:hover,#header-menu .max-nav a.t_middle:hover,#header-menu #btn-feedback,.weather .area span a:hover,.weather .area span a,#nav,.nav_con li.select a,.nav_con li.select a:hover,.nav_con li a:hover,.nav_con li,.show_list,.show_list li,.search_submit,.search_submit_s,.box-base .box-hd,.ico-sha,.tool-add,.tool-del,.tool-move,.tool-fav,.ico-feed,.ico-info,.ico-close,.ico-del,.ico-err,.ico-hot,.ico-new,.tool-share,#tool_map dt.richang,#tool_map dt.jiaotong,#tool_map dt.xingzuo,#tool_map dt.jiaoyu,#tool_map dt.jinrong,#tool_map dt.diannao,.mytools a,.nav_con .hover{background:url(../images/images.gif) no-repeat;}#header{height:66px;width:100%;background:#fff;}.header_con{width:978px;margin:0 auto;height:66px;}.logo{width:148px;height:59px;padding-top:3px;float:left;}.today{float:left;display:inline;overflow:hidden;padding:10px 0 10px 10px;width:200px;height:46px;line-height:20px;}.today span{font-weight:bold;}.today em{font-style:normal;margin-left:6px;}.today em a{color:#999;text-decoration:underline;}.today label{width:200px;white-space:nowrap;}.weather{float:left;width:366px;height:60px;padding-top:3px;}#header-menu{float:right;display:inline;overflow:hidden;padding:10px 0 10px 10px;width:190px;height:50px;}#header-menu .max-nav{margin:0 0 10px auto;float:right;}#header-menu .max-nav a{float:left;display:block;text-align:center;text-decoration:none;width:62px;height:19px;line-height:12px;line-height:16px\9;*line-height:16px;padding-top:5px;color:#3864AC;}#header-menu .max-nav a:hover{color:#3864AC;}#header-menu .max-nav a.t_left{background-position:0 0;}#header-menu .max-nav a.t_middle{background-position:-62px 0;}#header-menu .max-nav a.t_right{background-position:-124px 0;}#header-menu .max-nav a.t_left:hover{background-position:0 -24px;}#header-menu .max-nav a.t_middle:hover{background-position:-62px -24px;}#header-menu .max-nav a.t_right:hover{background-position:-124px -24px;}#header-menu .max-actions{color:#3864AC;font-family:宋体;float:left;}#header-menu .max-actions a{text-decoration:none;color:#3864AC;}#header-menu .max-actions a:hover{text-decoration:underline;}#header-menu #btn-feedback{padding-left:20px;background-position:-213px 0;}#header-menu .max-actions a.t_left{margin-left:11px;margin-right:6px;}#header-menu .max-actions a.t_middle{border-left:1px solid #3864AD;border-right:1px solid #3864AD;padding-left:7px;padding-right:7px;}#header-menu .max-actions a.t_right{margin-left:7px;}#nav{background-position:0 -86px;background-repeat:repeat-x;width:100%;height:52px;clear:both;}.nav_con{width:978px;margin:0 auto;text-align:left;}.nav_con ul{float:left;}.nav_con li{float:left;font-size:14px;font-weight:bold;color:#666;width:98px;height:43px;line-height:43px;text-align:center;background-position:right -343px;position:relative;z-index:99;}.nav_con li a{color:#333;text-decoration:none;width:98px;height:43px;display:block;}.nav_con li a:hover{background-position:0 -182px;color:#fff;}.nav_con .hover{background-position:0 -182px;color:#fff;}.nav_con li.select a{color:#fff;background-position:0 -140px;width:98px;height:43px;display:block;}.nav_con li.select a:hover{background-position:0 -182px;}.show_list{display:none;position:absolute;width:149px;border:1px solid #bfbfbf;border-top:none;background-position:-129px -598px;background-color:#fff;padding:5px 0;left:0;z-index:999;}.show_list li{font-size:13px;font-weight:100;width:147px;height:25px;line-height:25px;text-align:left;text-indent:20px;background-position:-189px -24px;margin:0 1px;}.show_list li a{height:25px;width:148px;}.show_list li a:hover{width:147px;height:25px;background-color:#f0f0f0;color:#06c;background-position:-189px -24px;}.none{display:none;}.block{display:block;}#content{width:978px;margin:0 auto;}#sub_header{border:1px solid #9ec3ea;}.tool-img .ico,.tool-panel .ico{background-image:url(../images/icons.png);background-repeat:no-repeat;height:32px;left:5px;position:absolute;top:5px;width:32px;}.pt10{padding-bottom:10px;}#sub_header strong a{color:#06c;}#sub_header .tool-panel{border-left:1px #BBD6F1 solid;height:50px;float:left;margin:10px 0 0;padding:0 10px 0 59px;position:relative;width:248px;}#sub_header #index_shouji,#sub_header #index_alexa{border:none;}#sub_header .ico{left:16px;top:5px;}#sub_header .text{ime-mode:disabled;width:146px;color:#999;}#sub_header .text_on{ime-mode:disabled;width:146px;}input.text,textarea.text{background:#fff;border-color:#555 #ccc #ccc #555;border-style:solid;border-width:1px;font-size:12px;line-height:18px;padding:4px 2px;*padding:5px 2px 2px;height:18px;}input.text_on{background:#fff;border-color:#555 #ccc #ccc #555;border-style:solid;border-width:1px;font-size:14px;line-height:18px;padding:4px 2px;*padding:5px 2px 2px;height:18px;color:#000;font-family:Tahoma,serif;font-weight:300px;}.search_submit{background-position:-213px -175px;border:none;cursor:pointer;color:#fff;font-size:14px;font-weight:700;height:27px;text-align:center;width:87px;}#main,#footer{margin:0 auto;padding:0;width:978px;}.left{float:left;margin:7px 5px 0 0;width:700px;}.left a{text-decoration:none;}.right a{color:#06c;text-decoration:underline;}.right{float:right;margin:7px 0 0 0;width:270px;}.box-base{background:#fff;border:1px #c1daf2 solid;}.h330{height:330px;}.h150{height:113px;height:116px\9;*height:97px;_height:97px;}.box-hd .box-t-l{font-size:14px;float:left;line-height:26px;color:#06c;text-indent:8px;}.box-base .box-hd{background-position:0 -227px;background-repeat:repeat-x;border-bottom:1px #bbd6f1 solid;height:26px;padding:0 5px;}#tool_hot_box,#tool_live,#tool_site_box,#tool_site,#link_box,#my_login,#tool_plane,#tool_translate,#tool_star,#tool_tool{margin-bottom:7px;}.tool-img:after{content:'\0020';display:block;height:0;clear:both;}.tool-img{padding:5px;zoom:1;height:239px;_height:239px;}.tool-img li{float:left;margin:4px 0;margin-right:1px;position:relative;width:170px;}.tool-img li a{border:1px #fff solid;display:block;height:50px;padding:0 0 0 44px;}.tool-img li a:hover,.tool-img li.hover a{background:url(../images/bg_repeat.png) repeat-x 0 -113px;border:1px #fee69e solid;}.tool-img .ico,.tool-panel .ico{background-image:url(../images/icons.png);background-repeat:no-repeat;height:32px;left:5px;position:absolute;top:5px;width:32px;}.tool-img .ico-sha{background-position:0 -462px;height:4px;left:2px;overflow:hidden;position:absolute;top:38px;width:39px;}.tool-panel .ico-sha{background-position:0 -462px;height:4px;left:12px;overflow:hidden;position:absolute;top:38px;width:39px;}.tool-img a:hover .ico-sha,.tool-img li.hover a .ico-sha{background-position:0 -469px;}.tool-img .tool-name{display:block;color:#36c;font-size:12px;font-weight:700;height:18px;padding-top:7px;}.tool-img .tool-bar{display:none;position:absolute;right:5px;top:5px;}.tool-img li.hover .tool-bar{display:block;z-index:10;}.tool-add,.tool-share,.tool-del,.tool-move,.tool-fav{background-position:0 -396px;cursor:pointer;float:right;height:16px;overflow:hidden;text-indent:-999em;width:16px;}.tool-share{background-position:-36px -396px;}.tool-del{background-position:-54px -396px;}.tool-move{background-position:-72px -396px;cursor:move;}.tool-fav{background-position:-111px -213px;}.ico-info{background-position:0 -185px;height:24px;width:24px;}.ico-feed{background-position:-90px -215px;height:11px;width:12px;}.ico-close{background-position:-90px -396px;cursor:pointer;float:right;height:16px;margin-top:5px;overflow:hidden;text-indent:-999em;width:16px;}.ico-del{background-position:-108px --396px;cursor:pointer;float:right;height:16px;margin-top:5px;overflow:hidden;text-indent:-999em;width:16px;}.ico-err{background-position:-34px -415px;height:15px;width:15px;}.ico-hot{background-position:-65px -463px;height:9px;padding-left:16px;}.ico-new{background-position:-43px -463px;height:9px;padding-left:16px;}.ico-load{background:url(../images/loading.gif) no-repeat;height:32px;width:32px;}.noleft{border:none!important;}#tool_map{float:left;}#tool_map dt{width:75px;height:40px;text-indent:-9999px;float:left;margin:5px;}#tool_map dd{width:608px;height:40px;float:left;overflow:hidden;line-height:20px;margin:5px 0;float:left;}#tool_map dt.richang{background-position:0 -255px;}#tool_map dt.jiaotong{background-position:-75px -256px;}#tool_map dt.xingzuo{background-position:-150px -256px;}#tool_map dt.jinrong{background-position:0 -298px;}#tool_map dt.diannao{background-position:-75px -298px;}#tool_map dt.jiaoyu{background-position:-150px -298px;}#tool_map dd a{text-align:left;color:#2f6194;float:left;margin-right:18px;white-space:nowrap;}.plane{padding:5px 10px;}.tool_star{padding:10px 0 0 20px;height:99px;_height:97px;}.plane li{margin:5px 0;}.tool_star li{margin-bottom:5px;}.plane label{width:175px;text-align:right;padding-right:5px;font-size:12px;color:#666;}.plane span,.tool_star span{margin-left:5px;}.input{color:#ccc;font-size:12px;height:22px;line-height:22px;border-bottom:1px solid #dbdbdb;border-right:1px solid #dbdbdb;border-left:1px solid #777;border-top:1px solid #777;width:165px;padding:0 5px;}.search_submit_s{background-position:-133px -177px;border:none;cursor:pointer;color:#fff;font-size:12px;font-weight:100;height:22px;text-align:center;width:71px;}#text_form{width:250px;padding:5px 7px;height:162px;_height:160px;}.translate-content{color:#333;font-size:12px;height:22px;line-height:22px;border:1px solid #dbdbdb;width:240px;padding:5px;height:122px;margin-bottom:6px;_height:120px;}.tool_star label{width:100px;float:left;}.tool_star a{text-decoration:none;}.tool_star a:hover{color:#f60;}.tool_tool{ height:88px;height:88px\9; *height:98px; _height:98px;  padding-top:3px;overflow:hidden; float:left;}.tool_tool li{float:left;width:100px; line-height:22px;text-align:left;padding:0px 0 0px 20px;}.tool_tool a:link,.tool_tool a:visited{color:#06c;text-decoration:none;}.tool_tool a:hover{text-decoration:underline;}#footer p{text-align:center;line-height:24px;color:#666;}.mytools a{width:106px;height:29px;background-position:-194px -395px;display:block;text-indent:-9999px;margin:6px 40px 0 0;float:right;}#bianmin{width:268px;height:104px;}.bianmin_cate{width:42px;height:104px;float:left;}.bianmin_cate li{height:26px;background:url(../images/bianmin.gif);line-height:26px;text-align:center;cursor:pointer;}.bianmin_cate li a{color:#666;text-decoration:none;}.bianmin_cate li.last{background:url(../images/bianmin.gif) 0 -52px;}.bianmin_cate li.select{background:url(../images/bianmin.gif) 0 -26px;}.bianmin_cate li.select_last{background:url(../images/bianmin.gif) 0 -78px!important;}.bianmin_main{width:226px;height:104px;overflow:hidden;float:left;}.clear{clear:both;}
.app-single-item{
    *zoom:1;
    *display:block;
}
.app-single-item:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.app-single-item .app-name{
    white-space:nowrap;
}
.app-single-item dt{
    float:left;
    width:70px;
    height:70px;
    position:relative;
    text-align:center;
}
.app-single-item dt img{
    width:64px;
    height:64px;
    padding:3px;
    display:block;
}
.app-single-item dd{
    float:left;
    padding:5px 0 0 3px;
    color:#999;
}
.app-single-item dd p{
    margin:3px 0 0 0;
}
.app-single-item dd strong{
    font-weight:normal;
    color:#f05858;
}
.app-single-grade,
.app-single-grade i{
    display:block;
    height:8px;
    background:url("../../app/images/score.png") no-repeat 0 -9px;
}
.app-single-grade{
    width:50px;
    margin:3px 0;
    text-align:left;
    overflow:hidden;
}
.app-single-grade i{
    background-position:0 0;
}
.app-single-grade i.app-score-0{width:0;}
.app-single-grade i.app-score-1{width:10px;}
.app-single-grade i.app-score-2{width:20px;}
.app-single-grade i.app-score-3{width:30px;}
.app-single-grade i.app-score-4{width:40px;}
.app-single-grade i.app-score-5{width:50px;}
.app-single-round{
    position:absolute;
    width:70px;
    height:70px;
    top:0;
    left:0;
    cursor:pointer;
    background:url("../../app/images/round_cover.png") no-repeat;
	_background:url("../../app/images/round_cover.gif") no-repeat;

   
}
.app-single-item-center{
    text-align:center;
    overflow:hidden;
}
.app-single-item-center dt{
    float:none;
    margin:0 auto;
}
.app-single-item-center dd{
    float:none;
    padding-left:0;
}
.app-single-item-center .app-single-grade{
    margin:3px auto;
}

.app-single-item-type .app-single-grade{
    display:inline-block;
    vertical-align:middle;
    margin:0 5px 5px 0;
    
    *display:inline;
    *zoom:1;
}
/**
 * *display:inline;
 * *zoom:1;
 * 解决IE6不支持display:inline-block问题
 */
.app-single-item-details{
    font-size:12px;
    position:relative;
}
.app-single-item-details a{
    color:#1f81b5;
}
.app-single-item-details dd{
    float:none;
    padding-top: 0;
    margin-left:71px;
    _margin-left:68px;
/**
 * _margin-left:68px;
 * 解决IE6  3px问题
 */
}
.app-single-item-details p{
    color:#333;
}
.app-single-item-details p a{
    margin:0 5px 0 0;
}
.app-single-item-details .app-name{
    font-weight:bold;
    margin:0 5px 0 0;
}
.app-single-item-details .app-single-grade{
    float:right;
}
.hot-app-list{
    padding:15px 0 10px 0;
    margin:0 5px;
}
.hot-app-list li{
    float:left;
    width:97px;
}
.hot-app-list-simple{
    padding:5px 0 10px 0;
    margin:0 5px;
    background:url("../../app/images/sep.gif") 0 0 repeat-x;
}
.hot-app-list-simple li{
    float:left;
    width:82px;
    height:25px;
    padding:0 0 0 15px;
    line-height:25px;
    background:url("../../app/images/icon.png") no-repeat 6px 10px;
    overflow:hidden;
}
.tool_map{float:left;padding:0 0 0 10px;width:335px;border-bottom:1px dashed #e0e0e0;line-height:24px;}.tool_map dt{width:70px;height:26px;float:left;text-align:center;}.tool_map dd{width:265px;height:26px;float:left;overflow:hidden;float:left;overflow:hidden;}.tool_map dd a{text-align:left;float:left;margin-right:12px;white-space:nowrap;}.tool_map dd a:link,.tool_map dd a:visited{color:#06c;}.tool_map dd a:hover{text-decoration:underline;}